<% if current_user.admin? %>
  <%= form_for(@post, :html => {:multipart => true}, :url => :posts) do |f| %>
    <div class="field">
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
    </div>
    <div class="field">
      <%= f.label :tags %>
      <div class="autocomplete-container">
        <%= f.text_field :tags, autocomplete: 'off', placeholder: 'Enter tags...', id: 'autocomplete-field', class: 'form-control', tabindex: -1 %>
        <ul class="autocomplete-items" id="autocomplete-items" style="display: none;">
        </ul>
      </div>
    </div>
    <div class="field">
      <%= f.label :comment %>
      <%= f.text_area :comment, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit "Upload" %>
    </div>
  <% end %>
<% else %>
  You are not allowed to post here.
<% end %>