<% if current_user.admin? %>
  <%= form_for(@post, :html => {:multipart => true}, :url => :posts) do |f| %>
    <div class="field">
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
    </div>
    <div class="field">
      <%= f.label :tags %>
      <%= f.text_field :tags %>
    </div>
    <div class="field">
      <%= f.label :comment %>
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit "Upload" %>
    </div>
  <% end %>
<% else %>
  You are not allowed to post here.
<% end %>